<ion-header >
  <ion-toolbar>
      <img src="assets/images/logo_h.png" class="img-h">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div class="top">
        <img src="../../assets/images/header.png">
      </div>
      <h4><ion-icon name="restaurant"></ion-icon> Inserisci una ricetta <ion-icon name="restaurant"></ion-icon></h4>
    </ion-card-header>
    <ion-card-content>
      <form #f="ngForm" (ngSubmit)="addRicetta(f)" (ngSubmit)="f.reset()" >

        <ion-item>
          <ion-input required ngModel name="nome" type="text" placeholder="Nome ricetta"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input required ngModel name="immagine" type="text" placeholder="URL Immagine ricetta"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label><ion-card-title mode="md">Categoria</ion-card-title></ion-label>
          <ion-select  name="categoria" ngModel okText="Aggiungi" cancelText="Annulla" required>
            <ion-select-option *ngFor="let categoria of categorie" value="{{categoria.nome}}">{{categoria.nome}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-textarea required ngModel name="procedimento" type="text" placeholder="Procedimento ricetta"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-input required ngModel name="durata" type="number" placeholder="Durata ricetta"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label><ion-card-title mode="md">Difficoltà</ion-card-title></ion-label>
          <ion-select  name="difficolta" ngModel okText="Conferma" cancelText="Annulla" required>

            <ion-select-option value="1">Facile</ion-select-option>
            <ion-select-option value="2">Media</ion-select-option>
            <ion-select-option value="3">Difficile</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-row>
          <ion-col size="8">
            <ion-card-title  mode="md">Ingredienti</ion-card-title>
          </ion-col>
          <ion-col size="2">
            <a (click)="addIngrediente()"><ion-icon name="add-circle"></ion-icon></a>
          </ion-col>
          <ion-col size="2">
            <a (click)="delIngrediente()"><ion-icon name="arrow-undo-circle"></ion-icon></a>
          </ion-col>
        </ion-row>
        <ion-item *ngFor="let item of items">
          <ion-select  name="{{item.value}}" ngModel okText="Aggiungi" cancelText="Annulla" required>
            <ion-label>Scegli ingrediente </ion-label><ion-select-option *ngFor="let ingrediente of ingredienti" value="{{ingrediente.id}}">{{ingrediente.nome}}</ion-select-option>
          </ion-select>
          <ion-input name="{{item.valueDose}}" ngModel type="text" placeholder="Dose" required></ion-input>

        </ion-item>

        <ion-button expand="block" mode="ios" [disabled]="!f.valid" type="submit">Inserisci ricetta</ion-button>
      </form>

      <div class="bottom">
        <img src="../../assets/images/headerFooter.png">
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>
