<ion-header>
  <ion-toolbar>
    <ion-title>addRicetta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)=addRicetta(f)>

    <ion-item>
      <ion-input required ngModel name="nome" type="text" placeholder="Nome ricetta"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input required ngModel name="immagine" type="text" placeholder="URL Immagine ricetta"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-select  name="categoria" ngModel okText="Aggiungi" cancelText="Annulla" required>
        <ion-select-option *ngFor="let categoria of categorie" value="{{categoria.nome}}">{{categoria.nome}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input required ngModel name="descrizione" type="text" placeholder="Descrizione ricetta"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input required ngModel name="procedimento" type="text" placeholder="Procedimento ricetta"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input required ngModel name="durata" type="number" placeholder="Durata ricetta"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Difficolta</ion-label>
      <ion-select  name="difficolta" ngModel okText="Aggiungi" cancelText="Annulla" required>
        <ion-select-option value="1">Facile</ion-select-option>
        <ion-select-option value="2">Media</ion-select-option>
        <ion-select-option value="3">Difficile</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>INGREDIENTE</ion-item>
    <ion-item *ngFor="let item of items">
      <ion-select  name="{{item.value}}" ngModel okText="Aggiungi" cancelText="Annulla" required>
        <ion-select-option *ngFor="let ingrediente of ingredienti" value="{{ingrediente.id}}">{{ingrediente.nome}}</ion-select-option>
      </ion-select>
      <ion-input name="{{item.valueDose}}" ngModel type="text" placeholder="Dose" required></ion-input>

    </ion-item>

    <ion-button [disabled]="!f.valid" type="submit">Inserisci</ion-button>
    <ion-button (click)="addIngrediente()">Agg. Ingrediente</ion-button>
    <ion-button (click)="delIngrediente()">Del. Ingrediente</ion-button>



  </form>

</ion-content>
