<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="cursor:pointer;" (click) = "recensioniPersonali()">LISTA RECENSIONI</ion-item>
  <ion-item style="cursor:pointer;" (click) = "ricettario()">RICETTARIO</ion-item>
  <ion-item style="cursor:pointer;" (click) = "ricettePersonali()">RICETTE PUBBLICATE</ion-item>
  <ion-item style="cursor:pointer;" (click) = "datiPersonali()">DATI PERSONALI</ion-item>
  <ion-item style="cursor:pointer;" (click) = "logout()">LOGOUT</ion-item>

</ion-content>
