<ion-header >
  <ion-toolbar>
      <img src="assets/images/logo_h.png" class="img-h">
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <ion-card class="bg-load">
    <ion-item class="item-card" (click) = "ricettario()">Ricettario <ion-icon slot="end" class="text-white" name="chevron-forward"></ion-icon></ion-item>
  </ion-card>
  <ion-card class="bg-load">
    <ion-item class="item-card" (click) = "recensioniPersonali()">Le tue recensioni <ion-icon slot="end" class="text-white" name="chevron-forward"></ion-icon></ion-item>
  </ion-card>
  <ion-card class="bg-load">
    <ion-item class="item-card" (click) = "datiPersonali()">Dati personali <ion-icon slot="end" class="text-white" name="chevron-forward"></ion-icon></ion-item>
  </ion-card>
  <ion-card class="bg-load">
    <ion-item class="item-card" (click) = "ricettePersonali()">Ricette pubblicate <ion-icon slot="end" class="text-white" name="chevron-forward"></ion-icon></ion-item>
  </ion-card>
  <ion-card class="bg-load">
    <ion-item class="item-card" (click) = "carrello()">Lista della spesa <ion-icon slot="end" class="text-white" name="chevron-forward"></ion-icon></ion-item>
  </ion-card>
  <ion-card class="bg-load" style="margin-top: 62%;">
    <ion-item class="item-card" (click) = "logout()">Logout <ion-icon slot="end" class="text-white" name="exit-outline"></ion-icon></ion-item>
  </ion-card>


</ion-content>
