.main {  
    display: flex;
    width: 100%;
    height: 175px;
    background-repeat: round;
}

ion-content {
    background-color: whitesmoke;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  ion-item{
    .item-native{
      padding-left: 0 !important;
    }
  }

.addCart{
  background-color: #b00011;
  color: white;
  border-radius: 100%;

}