<ion-header>
  <ion-toolbar>
    <img src="assets/images/logo_h.png" class="img-h">
  </ion-toolbar>
</ion-header>

<ion-content mode="md" fullscreen scrollY="true" *ngFor="let item of ricetta">
  <ion-card>
    <ion-card-header *ngFor="let flag of flagRicettario">
      <div class="main" style="background-image: url({{item.immagine}});">
        <ion-button  [disabled]="flag.value" style="margin-left: 76%;" (click)="addPref()"><ion-icon name="heart"></ion-icon></ion-button>
      </div>
      <ion-card-title class="hidden-title">{{item.nome}}</ion-card-title>
      <small class="hidden-title" style="text-transform: uppercase;"><b>{{item.categoria}}</b></small>
      <ion-card-subtitle><ion-icon name="hourglass-outline"></ion-icon> Durata: {{item.tempo}} minuti</ion-card-subtitle>
      <ion-card-subtitle><ion-icon name="restaurant-outline"></ion-icon> Difficoltà: {{item.difficolta}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content >
      <div class="line">
        <ion-card-title class="margin-title">Descrizione</ion-card-title>
        <p>{{item.descrizione}}</p>
      </div>
      <div class="line">
        <ion-card-title class="margin-title">Procedimento</ion-card-title>
        <p>{{item.procedimento}}</p>
      </div>
      <div class="line">
        <ion-card-title class="margin-title">Ingredienti</ion-card-title>
        <ion-item *ngFor="let ingrediente of ingredienti">
          <p class="hidden-title">• {{ingrediente.nome}} : {{ingrediente.dose}}</p>
          <ion-button class="btnAdd" slot="end" (click)="addCartSingle( ingrediente.id )" (click)= doRefresh($event) [disabled]="ingrediente.flag"><ion-icon name="cart"></ion-icon></ion-button>
        </ion-item>
        <ion-button mode="ios" *ngFor="let flagAll of flagAllIngredienti" style="font-size: 14px;" expand="block" (click)="addCart()" (click)= doRefresh($event) [disabled]="flagAll.value">Aggiungi tutti gli ingredienti </ion-button>
      </div>
      <div class="line" >
        <ion-row class="margin-title">
          <ion-col size="5"><ion-card-title>Recensioni</ion-card-title></ion-col>
          <ion-col size="2"><a class="a-cursor" (click)="addRecensione()"><ion-icon class="icon-size" name="add-circle"></ion-icon></a></ion-col>
        </ion-row>
      </div>


      <ion-slides mode="md" [options]="slidesOptions">
        <ion-slide *ngFor=" let recensione of recensioni ">
          <ion-card class="card bg-load">
            <ion-card-content>
              <small class="hidden-title">{{recensione.nome}} {{recensione.cognome}}</small>
              <h2 class="hidden-title">{{recensione.titolo}}</h2>
              <p class="ion-text-center">{{recensione.descrizione}}</p>
            </ion-card-content>

          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tab-bar slot="bottom" mode="md">
  <ion-tab-button tab="home" (click)="routerHome()" >
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="recipes" (click)="routerRicerca()">
    <ion-icon name="restaurant-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="addRicetta" (click)="routerAddRicetta()">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="cart" (click)="routerCarrello()">
    <ion-icon name="receipt-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="profile" (click)="routerProfilo()">
    <ion-icon name="person-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
