<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row style="margin-top: 10px;">
      <ion-col size="3">
        <ion-thumbnail class="ion-margin-start">
          <img src="assets/images/logo.png">
        </ion-thumbnail>
      </ion-col>
      <ion-col size="9">
        <ion-searchbar mode="ios"></ion-searchbar>
      </ion-col>
    </ion-row>

  </ion-toolbar>

</ion-header>

<ion-content fullscreen mode="md" scrollY="true">
  <ion-card>
    <ion-card-header>
      <div class="main" style="background-image: url({{immagineRicetta}});">
        <ion-button style="margin-left: 76%;"><ion-icon name="heart"></ion-icon></ion-button>
      </div>
      <ion-card-title class="hidden-title">{{nomeRicetta}}</ion-card-title>
      <small class="hidden-title" style="text-transform: uppercase;"><b>{{categoriaRicetta}}</b></small>
      <ion-card-subtitle><ion-icon name="hourglass-outline"></ion-icon> Durata: {{tempoRicetta}} minuti</ion-card-subtitle>
      <ion-card-subtitle><ion-icon name="restaurant-outline"></ion-icon> Difficoltà: {{difficoltaRicetta}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-card-title>Descrizione</ion-card-title>
        <p>{{descrizioneRicetta}}</p>
      </div>
      <div>
        <ion-card-title>Ingredienti</ion-card-title>

        <ion-list *ngFor="let ingrediente of ingredienti;">
           <ion-item>
             {{ingrediente.nome}} : {{ingrediente.dose}}
           </ion-item>
        </ion-list>

      <ion-button expand="block" (click)="addCart()">Aggiungi al carrello</ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>



  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="routerHome()" >
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="recipes" (click)="routerRicerca()">
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cart" (click)="routerCarrello()">
      <ion-icon name="receipt-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)="routerProfilo()">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
