<ion-header>
  <ion-toolbar>
    <img src="assets/images/logo_h.png" class="img-h">
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card mode="ios" *ngFor="let categoria of categorie;" class="bg-load">
    <ion-item style="cursor: pointer;" lines="none" (click)="btnClicked(categoria.nome)">
      <ion-avatar slot="start">
        <img src="{{categoria.immagine}}">
      </ion-avatar>
      <ion-label style="color: white; text-transform: capitalize;" class="size-h4">{{categoria.nome}}</ion-label><ion-icon slot="end" class="text-white" name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-card>

</ion-content>
