<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="3">
        <ion-thumbnail class="ion-margin-start">
          <img src="assets/images/logo.png">
        </ion-thumbnail>     
      </ion-col>
      <ion-col size="9">
        <ion-searchbar></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let categoria of categorie;">
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="{{categoria.immagine}}">
      </ion-avatar>
      <a class="a_categoria" (click)="btnClicked(categoria.id)"><h4>{{categoria.nome}}</h4></a>
    </ion-item>
    
  </ion-list>
  
</ion-content>