<ion-header>
  <ion-toolbar>
    <ion-title>ricettePubblicate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item *ngFor="let ricetta of ricette">
    <img style="cursor: pointer" (click)=showRicetta(ricetta.id) slot="start" height=75 width=75 src="{{ricetta.immagine}}" alt="immagine ricetta">
    <ion-item lines=none>
      {{ricetta.nome}}
    </ion-item>
    <ion-button slot="end" (click)="deleteRicetta(ricetta.id)" (click)= doRefresh($event)>DELETE</ion-button>
  </ion-item>
</ion-content>

<ion-tab-bar slot="bottom" mode="md">
  <ion-tab-button tab="home" (click)="routerHome()" >
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="recipes" (click)="routerRicerca()">
    <ion-icon name="restaurant-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="addRicetta" (click)="routerAddRicetta()">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="cart" (click)="routerCarrello()">
    <ion-icon name="receipt-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="profile" (click)="routerProfilo()">
    <ion-icon name="person-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
