ion-content {
  background-color: whitesmoke;
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


ion-card {
  width: 90%;
  border-radius: 14px;
  .main {  
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 120px;
      height: 55px;
    }
    img:hover{
      cursor: pointer;
    }
  }

  .files {
      padding-top: 14px;
  }

}

.bg-img{
  background-repeat: round;
  opacity: 0.7;
}

h2{
  text-align: center;
  color: white;
  background-color: #580303;
  margin-top: 40% !important;
}

.hidden-title{overflow: hidden !important; white-space: nowrap !important; text-overflow: ellipsis !important;}

