

<ion-header [translucent]="true">
<ion-toolbar>
        <ion-thumbnail class="ion-margin-start">
            <img src="assets/images/logo.png">
        </ion-thumbnail>
</ion-toolbar>
<ion-slides style="width: 100%; height: 200px;" mode="ios">
        <ion-slide style="cursor:pointer;" *ngFor="let ricettaSlider of ricetteSlider" (click)="btnClicked(ricettaSlider.id)" class="bg-img" style="background-image: url({{ricettaSlider.immagine}});">
        </ion-slide>
</ion-slides>
</ion-header>


<ion-content style="width: 100%;" scroll-y="true">

    <div class="slides ion-margin-bottom">
    <ion-slides mode="md" [options]="slidesOptions">


        <ion-slide *ngFor="let ricetta of ricette;">
            <ion-card class="bg-load">
            <ion-card-header>
                <div class="main">
                <a (click)="btnClicked(ricetta.id)"><img src="{{ricetta.immagine}}"></a>
                </div>
            </ion-card-header>
            <ion-card-content >
                <h3 class="ion-text-center text-white hidden-title">{{ricetta.nome}}</h3>
                <small style="text-transform: uppercase; font-size: 9px;" class="ion-text-left text-white"><b>{{ricetta.categoria}}</b></small>
            </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
    </div>
    <div class="slides ion-margin-bottom">
    <ion-slides mode="md" [options]="slidesOptions">
        <ion-slide *ngFor="let ricetta of ricette;">
            <ion-card class="bg-load">
            <ion-card-header>
                <div class="main">
                <a (click)="btnClicked(ricetta.id)"><img src="{{ricetta.immagine}}"></a>
                </div>
            </ion-card-header>
            <ion-card-content >
                <h3 class="ion-text-center text-white hidden-title">{{ricetta.nome}}</h3>
                <small style="text-transform: uppercase; font-size: 9px;" class="ion-text-left text-white"><b>{{ricetta.categoria}}</b></small>
            </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
    </div>


</ion-content>