<ion-header >
  <ion-toolbar>
      <img src="assets/images/logo_h.png" class="img-h">
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
      <div class="top">
        <img src="../../assets/images/header.png">
      </div>
      <h4><ion-icon name="restaurant"></ion-icon> Le tue recensioni <ion-icon name="restaurant"></ion-icon></h4>
    </ion-card-header>
    <ion-card-content>
      <ion-item style="margin-bottom: 10px;" lines="none" *ngFor="let recensione of recensioni">
        <ion-avatar>
          <img style="cursor: pointer" (click)=showRicetta(recensione.id) src="{{recensione.immagine}}" alt="immagine ricetta">
        </ion-avatar>
        <ion-label style="margin-left: 5px">
          <h3>{{recensione.titolo}}</h3>
          <p>{{recensione.testo}}</p>
          <a class="a-trash" slot="end" (click)="deleteFromRecensione(recensione.id)" (click)= doRefresh($event)><ion-icon name="trash"></ion-icon></a>

        </ion-label>
      </ion-item>
      <div class="bottom">
        <img src="../../assets/images/headerFooter.png">
      </div>
    </ion-card-content>
  </ion-card>




</ion-content>

<ion-tab-bar slot="bottom" mode="md">
  <ion-tab-button tab="home" (click)="routerHome()" >
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="recipes" (click)="routerRicerca()">
    <ion-icon name="restaurant-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="addRicetta" (click)="routerAddRicetta()">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="cart" (click)="routerCarrello()">
    <ion-icon name="receipt-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="profile" (click)="routerProfilo()">
    <ion-icon name="person-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
