<ion-header>
  <ion-toolbar>
    <img src="assets/images/logo_h.png" class="img-h">
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <div class="top">
        <img src="../../assets/images/header.png">
      </div>
      <h4><ion-icon name="receipt"></ion-icon> Lista della spesa <ion-icon name="receipt"></ion-icon></h4>
    </ion-card-header>

    <ion-card-content>

      <ion-item lines="none" class="margin-item" *ngFor="let ingrediente of ingredienti">
        <p class="hidden-title"> {{ingrediente.nome}}</p>
        <a class="a-trash" slot="end" (click)="deleteFromCarrello(ingrediente.id)" (click)= doRefresh($event) ><ion-icon name="trash"></ion-icon></a>
      </ion-item>
      <div class="bottom">
        <img src="../../assets/images/headerFooter.png">
      </div>
    </ion-card-content>


  </ion-card>


</ion-content>